body {
    font-family: Arial, sans-serif;
    background-color: #9bc0ff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ccc;
}

h1 {
    text-align: center;
    margin-top: 50px;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    max-width: 200px; /* กำหนดขนาดสูงสุดของภาพโปรไฟล์เป็น 200px */
    border-radius: 50%; /* กำหนดขอบโค้งสำหรับภาพโปรไฟล์ให้เป็นวงกลม */
    margin: 0 auto 20px; /* กำหนดการจัดวางให้ภาพโปรไฟล์ตรงกลางและมีระยะห่างด้านล่าง 20px */
    display: block;
}


.profile-info {
    text-align: center;
}

.profile-info h1 {
    margin: 10px 0;
    color: #333;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
}

.bio {
    margin-top: 20px;
}

.bio p {
    line-height: 1.6;
    color: #666;
}

