body{
    font-size: Arial,Helvetica,sans-serif;
    text-align: center;
}

hr{
    width: 500px;
    height: 3px;
    background-color: black;
}

#board{
    width: 450px;
    height: 450px;
    background-color: goldenrod;
}